<!-- <div class="row">
  <div class="col-md-12">
    <h1>Contact</h1>
      <form> -->
        <div class="form-group">
          <label for="exampleInputFirstName">First Name</label>
          <input type="text" name="FirstName" class="form-control" id="exampleFirstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="exampleInputLastName">Last Name</label>
          <input type="text" name="LastName" class="form-control" id="exampleLastName" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="EmailAddress" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPhoneNumber">Phone Number</label>
          <input type="text" name="PhoneNumber" class="form-control" id="examplePhoneNumber" placeholder="Phone Number">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      <!-- </form>
  </div>
</div> -->
